<h1>Hello there..</h1>
<p>Welcome to the blog home..here you can enter blog posts, have your friends comment on them, and even associate some tags with your blog post. To get started, click <%= link_to "here", posts_path %></p>

